<mat-dialog-content>Seleziona la modalità di caricamento</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button id="amd-browse-files" (click)="close()" tabindex="1">
        <mat-icon>insert_drive_file</mat-icon> Files</button>
   <button disabled mat-raised-button id="amd-browse-folder" (click)="close()" tabindex="2">
        <mat-icon>folder_open</mat-icon> Cartella </button>
</mat-dialog-actions>
