<div class="amd-dropzone" id="amd-dropzone-component">
    <div class="amd-dropzone-content">
        <mat-icon style="font-size: 64px; color: rgba(255, 255, 255, 1);">insert_drive_file</mat-icon>
        <mat-icon style="margin-left: 10px;">add_circle_outline</mat-icon>
        <p>Trascina qui i tuoi file o fai clic per caricare.</p>
    </div>
</div>
