<div *ngIf="mode === 'edit-description'">
    <mat-dialog-content>
        <p>Enter a new description:</p>
        <form>
            <mat-form-field>
                <input matInput autocomplete="off" tabindex="1" [value]="itemDescription"
                    (input)="itemDescription = $event.target.value; errorMessage = undefined;" [formControl]="editFormControl">
            </mat-form-field>
            <mat-error *ngIf="errorMessage">
                {{errorMessage}}
            </mat-error>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="editDescription()" tabindex="2">Ok</button>
        <button mat-raised-button (click)="close()" tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</div>
<div *ngIf="mode === 'edit-filename'">
    <mat-dialog-content>
        <p>Inserisci il nome del file:</p>
        <form>
            <mat-form-field>
                <input matInput autocomplete="off" tabindex="1" [value]="itemName"
                    (input)="itemName = $event.target.value; errorMessage = undefined;" [formControl]="editFormControl">
            </mat-form-field>
            <mat-error *ngIf="errorMessage">
                {{errorMessage}}
            </mat-error>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click)="editFilename()" tabindex="2">Ok</button>
        <button mat-raised-button (click)="close()" tabindex="-1">Cancel</button>
    </mat-dialog-actions>
</div>
