<mat-form-field>
    <mat-select placeholder="Pagina" [(ngModel)]="paginationService.pagination.page" (change)="onPageChange()" aria-label="Page">
        <mat-option *ngFor="let p of paginationService.pagination.pages" [value]="p">
            {{ p }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-select placeholder="Righe per pagina" [(ngModel)]="paginationService.pagination.rpp" (change)="onRppChange()" aria-label="Rows per page">
        <mat-option *ngFor="let o of paginationService.pagination.rppOptions" [value]="o">
            {{ o }}
        </mat-option>
    </mat-select>
</mat-form-field>
<span>{{min()}} - {{max()}} of {{paginationService.pagination.total}}</span>
<button mat-icon-button mat-button (click)="movePrevious()" [disabled]="!hasPrevious()">
    <mat-icon>navigate_before</mat-icon>
</button>
<button mat-icon-button mat-button (click)="moveNext()" [disabled]="!hasNext()">
    <mat-icon>navigate_next</mat-icon>
</button>
